includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  treatPhpDocTypesAsCertain: false
  excludePaths:
    - *GetArticlesParams*
    - *CreateFromVarMap*
  ignoreErrors:
    -
      identifier: missingType.return
      paths:
        - test/*
    -
      identifier: staticMethod.dynamicCall
      paths:
        - test/*
    -
      identifier: property.unused
      paths:
        - test/*
    -
      identifier: property.onlyWritten
      paths:
        - test/*
    -
      identifier: missingType.property
      paths:
        - test/*
    - '#Trait .* is used zero times and is not analysed#'
    - '#PHPDoc tag @var with type class-string is not subtype of type class-string<object>#'
