includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  editorUrl: 'phpstorm://open?file=/Users/danack/projects/github/DataType/%%relFile%%&line=%%line%%'
  treatPhpDocTypesAsCertain: false
  excludePaths:
    - *GetArticlesParams*
    - *CreateFromVarMap*
  ignoreErrors:
    -
      identifier: missingType.return
      paths:
        - test/*
    -
      identifier: staticMethod.dynamicCall
      paths:
        - test/*
    -
      identifier: property.unused
      paths:
        - test/*
    -
      identifier: property.onlyWritten
      paths:
        - test/*
    -
      identifier: missingType.property
      paths:
        - test/*

